.header {
  background-color: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.headerContainer {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 50rem;
}

.headerImage {
  width: 50%;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}
