.navigationDrawer {
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  height: 100vh;
  position: fixed;
  top: 0;
  transition: left 0.5s ease-in-out;
  width: 260px;
  z-index: 1;
}

.opened {
  left: 0px;
}

.closed {
  left: -280px;
}

.headerImage {
  padding: 36px 24px;
  border-bottom: 1px solid lightslategray;
}

.itemMenu {
  align-items: center;
  border-bottom: 1px solid lightslategray;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  padding: 1rem 0rem;
  width: 100%;
}
