.navigationDrawer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 260px;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.opened {
  left: 0px;
}

.closed {
  left: -280px;
}

.headerImage {
  padding: 48px 24px;
  border-bottom: 1px solid lightslategray;
}

.itemMenu {
  align-items: center;
  border-bottom: 1px solid lightslategray;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  padding: 1rem 0rem;
  width: 100%;
}

/* 
&--open {
    left: 0;
  }

  &__head {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;

    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__menu {
    margin-top: 16px;
    padding: 0 8px;

    &__item {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;
      padding: 6px 8px;

      i {
        margin-right: 8px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  } */
