.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.buttonIcon {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
}

.buttonIcon:focus {
  outline: none;
}

.buttonIcon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.buttonIcon:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.closeContainer {
  width: 100%;
  text-align: right;
  padding: 18px;
}

.buttonClose {
  font-size: 20px;
}

.space {
  margin-right: 1rem;
}

.space2 {
  margin-right: 2rem;
}

.colorPink {
  color: #fa55aa;
}

.colorGray {
  color: lightslategray;
}

.colorDanger {
  color: red;
}
